@charset "utf-8";
/* CSS Document */
@media (min-width:1200px){
  .navbar .container {
    max-width: inherit;
  }
  
  .container > .navbar-header {
    width: 1170px;
    margin: 0 auto;
    float: none;
  }
  
  .navbar .logo {
    margin: 20px 0 0;
  }
  
  .navbar .nav {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 1170px;
    position: inherit;
    top: 0;
  }
  
  .navbar #block-search-form {
    display: block;
    float: right;
    margin: 0;
    position: absolute;
    right: 300px;
    top: -76px;
  }
  
  .beach-cam {
    display: block;
    position: absolute;
    right: 0;
    top: -76px;
  }
  
  .social-media-channels {
    display: block;
    height: 21px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 20px;
    width: 180px;
  }
}

@media (max-width:1169px){
  .container {
    max-width: none;
  }
}