@charset "utf-8";
/* CSS Document */

.simplead-container.image-ad {
  margin-bottom: 30px;
}
.simplead-container.image-ad.last, .front .simplead-container.image-ad.last {
  margin-bottom: 0px;
}
body.front .simplead-container.image-ad img {
  width: 100%;
}
@media (min-width:992px){
body.page-node-367 #block-simpleads-ad-groups-71 {
  display:none;
}
}
@media (min-width:768px) and (max-width:991px){
.simplead-container.image-ad {
  float: left;
  margin-bottom: 30px;
  max-width: 50%;
  padding: 0 10px;
}
.simplead-container.image-ad img {
  max-width: 100%;
  height: auto;
}
body.page-node-367 #block-simpleads-ad-groups-17 {
  display:none;
}
}
@media (max-width:480px){
.simplead-container.image-ad {
  margin-bottom: 10px;
}
.simplead-container.image-ad img {
  width: 100%;
}
body.page-node-367 #block-simpleads-ad-groups-17 {
  display:none;
}
}