@charset "utf-8";
/* CSS Document */

.simplead-container.image-ad {
  margin-bottom: 30px;
}

.simplead-container.image-ad.last {
  margin-bottom: 0px;
}

@media (max-width:480px){ 
.simplead-container.image-ad img {
  width: 100%;
}
}