/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.form-control {
  padding: 1px 4px;
}

.view-uc-catalog-terms .view-content > div a:nth-child(1) {
  display: block;
  min-height: 110px;
  text-align: center;
}

.view-uc-catalog-terms .view-content > div a:nth-child(1) img {
  max-width: 100%;
}

.view-uc-catalog-terms .view-content > div a:nth-child(2) {
  background-color: #51A7B3;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  margin-bottom: 30px;
  min-height: 90px;
  padding: 5px;
  text-align: center;
}